:root {
  font-family: system-ui;
  line-height: 0;
  font-weight: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111725;

}

a {
  font-weight: 500;
  text-decoration: inherit;
}


h1 {
  font-size: 3em;
  line-height: 1.1;
}

headerButton {
  font-weight: 300;
  font-size: 1.7em;
  color: #ffffff;
  text-decoration: inherit;
  padding: 0.2em 0.7em;
  border: 1px solid transparent;

}

headerButton:hover {
  font-weight: 300;
  font-size: 1.7em;
  color: #ffffff;
  text-decoration: inherit;
  padding: 0.2em 0.7em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  background-color: #0a0e19;
  cursor: pointer;
  transition: background-color 0.6s;
}



.boujee-text {
  --bg-size: 400%;
  --color-one: hsl(240, 89%, 46%);
  --color-two: hsl(178, 95%, 55%);
  font-family: sans-serif;
  font-size: 5em;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
