:root {
  font-family: system-ui, Arial, Helvetica, sans-serif;
  line-height: 0;
  font-weight: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111725;

}

.full-height {
  min-height: 100vh; /* Ensure container fills the viewport height */
  background-color: inherit; /* Inherit background color from :root */
}

a {
  font-weight: 500;
  text-decoration: inherit;
}


h1 {
  font-size: 3em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.87);
}

h2 {
  font-size: 2em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 350;
}

h3 {
  font-size: 1.5em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 250;
}

h4 {
  font-size: 1.2em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 250;
}

li {
  font-size: 1.1em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 220;
  padding-bottom: 0.5em
}

subtitle {
  font-size: 1.1em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.426);
  font-weight: 200;
  font-style: italic;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.headerButton {
  font-weight: 300;
  font-size: 1.7em;
  color: #ffffff;
  text-decoration: inherit;
  padding: 0em 0.4em;
  border: 1px solid transparent;
  padding-bottom: 0.2em;
}

.headerButton:hover {
  font-weight: 300;
  font-size: 1.7em;
  color: #ffffff;
  text-decoration: inherit;
  padding: 0em 0.4em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  background-color: #0a0e19;
  cursor: pointer;
  transition: background-color 0.6s;
  padding-bottom: 0.2em;
}



.boujee-text {
  --bg-size: 400%;
  --color-one: hsl(240, 89%, 46%);
  --color-two: hsl(178, 95%, 55%);
  font-family: system-ui;
  font-size: 5em;
  font-weight: 600;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  padding-bottom: 0.15em;
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 12s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
